@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#141414]
}

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}